img{
    opacity: 0.8;
}

img {
    display: inline-block;
    border-radius: 5px;
    padding: 8px;
    margin: 0 auto;
    cursor: pointer;

 
}
   img:hover {
       background-color: #000;
       opacity: 0.8;
   }