img{
    opacity: 0.8;
}

img {
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;

 
}
   img:hover {
       background-color: #000;
       opacity: 0.8;
   }
   .Interface{
    width: 100%;
 
  
   }
  img {
    width: 50%;
   
   }
 