/* Grid Container */
.animes-list {
    display: grid;
grid-template-columns:  1fr 2fr 1fr 2fr;
list-style: none;
text-align: center ;
gap: 2rem;
}
.animes-list{
    max-width: 100%;
}
@media(max-width:900px){
    .animes-list{
        display: flex;
        flex-direction: column;
       padding: 80px;
    }
}


