
@font-face {
  font-family: KOMIKAX;
  src: url(../src/assets/imagens/KOMIKAX_.ttf)format('truetype');
}
.Titulo {
  width: 200px;
  padding: 0;
}
.Titulo:hover{
  background-color: transparent;
}
.App {
  text-align: center;
  width: 100%;
  font-family: KOMIKAX;

}